/.idea

/.venv
/env
*.pyc
__pycache__
*.egg-info

node_modules
web/lib/import-map.json

*.session
/*.json
*.bak
build/lib/sticker/__init__.py
build/lib/sticker/download_thumbnails.py
build/lib/sticker/get_version.py
build/lib/sticker/pack.py
build/lib/sticker/scalar_convert.py
build/lib/sticker/stickerimport.py
build/lib/sticker/version.py
build/lib/sticker/lib/__init__.py
build/lib/sticker/lib/matrix.py
build/lib/sticker/lib/util.py
sticker/version.py
sticker/version.py
huppal/sadcat.png
huppal/Memes.gif
huppal/123.png
huppal/2147_pensive_rat.PNG
huppal/cathearteyes.png
huppal/cattoblush.png
huppal/cattocry.png
huppal/Daily_Double.PNG
huppal/dino_nuggies20.PNG
huppal/Donut.png
huppal/eri.webp
huppal/excusemewhat.png
huppal/farmpeepokiss40.PNG
huppal/gooseknife.png
huppal/heartcat.png
huppal/hihiihih.png
huppal/IOS_TakeoutBox21.PNG
huppal/kekw.png
huppal/mcdonalds_logo.PNG
huppal/memes.png
huppal/no.jpeg
huppal/nugget51.PNG
huppal/pack.json
huppal/pepe_snack.PNG
huppal/pepe12.png
huppal/pepecool.png
huppal/Pepecry.png
huppal/pepedrama.png
huppal/PepeHappy.png
huppal/pepejuice.png
huppal/pepoclown.png
huppal/rat17.PNG
huppal/ratflushed.PNG
huppal/ratloves23.PNG
huppal/ratpog.PNG
huppal/rats24.PNG
huppal/sadness.png
huppal/sexyface.png
huppal/smirk.png
huppal/smirktwohand.png
huppal/Souris.png
huppal/surprised_pikachu.png
huppal/tf.png
huppal/thinkingblackguy.png
huppal/tspepecryignore.PNG
